<div class="container card">
  <div class="card-header">Login</div>
  <form id="login-form" class="card-body">
    <label for="name-login" class="form-label">Username:</label>
    <input id="name-login" type="text" class="form-input" />
    <label class="form-label" for="password-login">Password:</label>
    <input  id="password-login" type="password" class="form-input" />
    <button type="submit" class="btn">Login</button>
  </form>
  <div class="card-footer">
    <a class="text-dark" href="/signup">New? Sign-up for an account here!</a>
  </div>
</div>

<script src="/js/login.js"></script>
