<div class="container card">
  <div class="card-header">Create New User</div>
  <form id="signup-form" class="card-body">
    <label for="name-signup" class="form-label">Username:</label>
    <input id="name-signup" type="text" class="form-input" />
    <label for="email-signup" class="form-label">Email:</label>
    <input id="email-signup" type="text" class="form-input" />
    <label class="form-label" for="password-signup">Password:</label>
    <input  id="password-signup" type="password" class="form-input" />
    <button type="submit" class="btn">Sign-up!</button>
  </form>
  <div class="card-footer">
    <a class="text-dark" href="/login">Already have an account? Login here!</a>
  </div>
</div>

<script src="/js/signup.js"></script>